.o_back{
    background: linear-gradient(180deg, #A00087 0%, #401238 100%);
    min-height: 100vh;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.o_banner{
    background: url(../../images/cBanner.png) center center;
    background-size: cover;
    width: 100%;
    height: 20rem;
}

.o_container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -7rem;
    flex-wrap: wrap;
    img{
        margin-right: 1rem;
        -webkit-box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.25);
        -moz-box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.25);
        box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.25);

        border-radius: 15px;
    }
    .o_info{
        // align-self: flex-start;
        margin-left: 1rem;
        color: #fff;
        span{
            font-weight: 200;
        }
        h2{
            font-size: 18px;
            font-weight: 700;
        }
        h1{
            font-size: 3rem;
            font-weight: 700;
        }
    }
}

.title_episodes{
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
    margin-top: 3rem;
}
.cont_episodes{

    margin: 1rem 0 3rem 0;
    align-items: flex-start ;
    justify-content: center;
    width: max-content;
    height: 10rem;
    overflow-y: scroll;
    padding: 1rem;
    .episode{
        color: #a1dd59;
        transition: all ease 1s;
    }

    .episode:hover{
        color:#2a8734;
        transition: all ease .5s;
    }
}

.cont_episodes::-webkit-scrollbar {
    width: 6px;
  }

  .cont_episodes::-webkit-scrollbar-track {
    background: magenta; 
  }
   
  .cont_episodes::-webkit-scrollbar-thumb {
    background: #a1dd59; 
  }
  
  .cont_episodes::-webkit-scrollbar-thumb:hover {
    background: #2a8734; 
  }