.o_back{
    background: linear-gradient(180deg, #A00087 0%, #401238 100%);
    min-height: 100vh;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.o_banner{
    background: url(../../images/cBanner.png) center center;
    background-size: cover;
    width: 100%;
    height: 20rem;
    filter: brightness(60%);
}

.o_container{
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -9rem;
    flex-wrap: wrap;
    .o_info{
        margin-left: 1rem;
        color: #fff;
        span{
            font-weight: 200;
        }
        h2{
            font-size: 2.3rem;
            font-weight: 300;
        }
        h1{
            font-size: 3rem;
            font-weight: 700;
        }
        img{
            width: 90%;
            margin-bottom: 3rem;
        }
    }
}

